@{
    ViewData["Title"] = "Create a Movie";

    var Title = string.Empty;
    var Description = string.Empty;
    var PosterUrl = string.Empty;
    var ReleaseDate = string.Empty;
    var OriginalTitle = string.Empty;
    float? Budget = null;

}
<h1>@ViewData["Title"]</h1>

<form asp-asp-controller="Movie" asp-action="Create" method="post">
    <h2>Required</h2>
    <input asp-for="@Title" type="text" class="form-control" placeholder="Title">
    <br>
    <textarea asp-for="@Description" class="form-control" placeholder="Description"></textarea>
    <br>
    <br>
    <h2>Additional</h2>   
    <input asp-for="@OriginalTitle" type="text" class="form-control" placeholder="Original Title">
    <br>
    <input asp-for="@PosterUrl" type="text" class="form-control" placeholder="Poster Url">
    <br>
    <input asp-for="@ReleaseDate" type="text" class="form-control" placeholder="Release Date">
    <br>
    <input asp-for="@Budget" type="text" class="form-control" placeholder="Budget">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>